<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patryk.quickpick">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickPick">
        <activity
            android:name=".PastOrdersActivity"
            android:theme="@style/Theme.QuickPick.NoActionBar">
        </activity>
        <activity
            android:name=".ListaWszystkichFiszekActivity"
            android:theme="@style/Theme.QuickPick.NoActionBar"></activity>
        <activity
            android:name=".OrderSummaryActivity"
            android:label="Podsumowanie"
            android:theme="@style/Theme.QuickPick.NoActionBar"></activity>
        <activity
            android:name=".NewListActivity"
            android:label="Nowa lista słówek"
            android:theme="@style/Theme.QuickPick.NoActionBar"></activity>
        <activity
            android:name=".TestSummaryActivity"
            android:label="Wyniki"
            android:theme="@style/Theme.QuickPick.NoActionBar"></activity>
        <activity
            android:name=".PickProcessActivity"
            android:label="Nauka"
            android:theme="@style/Theme.QuickPick.NoActionBar"></activity>
        <activity
            android:name=".TestProcessActivity"
            android:label="Test"
            android:theme="@style/Theme.QuickPick.NoActionBar"></activity>
        <activity
            android:name=".ListaListFiszekActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuickPick.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ListaListFiszekActivity"
            android:theme="@style/Theme.QuickPick.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patryk.quickpick.ListaListFiszekActivity" />
        </activity>
    </application>

</manifest>